/* ---------- CSS variables ---------- */
:root {
  --header-height: 8vh;
  --header-height-min: 6vh;
  --header-height-half: 4vh;
  --max-width: 1200px;
  --min-width: 320px;
  /* Colors */
  --hue-light: 0;
  --hue-red: 353;
  --gray-color: hsl(var(--hue-light), 0%, 50%);
  --gray-color-alt: hsl(var(--hue-light), 0%, 30%);
  --light-color: hsl(var(--hue-light), 0%, 94%);
  --light-color-alt: hsl(var(--hue-light), 0%, 88%);
  --red-color: hsl(var(--hue-red), 100%, 40%);
  --red-color-alt: hsl(var(--hue-red), 80%, 30%);
  --white-color: #fff;
  --black-color: #000;

  /* Fonts sizes */
  --text-font: 'Open Sans', sans-serif;
  --h1-font-size: clamp(1rem, 0.8545rem + 0.7273vw, 1.4rem);
  --h2-font-size: clamp(0.9rem, 0.7545rem + 0.7273vw, 1.3rem);
  --h3-font-size: clamp(0.8rem, 0.6545rem + 0.7273vw, 1.2rem);
  --big-font-size: clamp(0.8rem, 0.6545rem + 0.7273vw, 1.2rem);
  --normal-font-size: clamp(0.8rem, 0.7273rem + 0.3636vw, 1rem);
  --small-font-size: clamp(0.8rem, 0.7273rem + 0.3636vw, 1rem);
  --nav-font-size: clamp(0.7rem, 0.6273rem + 0.3636vw, 0.9rem);
  --welcome: clamp(1rem, 0.2727rem + 3.6364vw, 3rem);
}

/* ---------- Fonts styles ---------- */

h1 {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  margin: 8px 0px;
  padding: 3px 10px;
}

h2 {
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  margin: 6px 0px;
  padding: 3px 10px;
}

h3 {
  font-size: var(--h3-font-size);
  margin: 4px 0px;
  padding: 3px 10px;
}

p {
  font: var(--text-font);
  font-size: var(--normal-font-size);
  margin: 2px 0px;
  padding: 0;
}

a {
  text-decoration: none;
}

.font-big {
  font-size: var(--big-font-size);
}

.italic {
  font-size: var(--small-font-size);
  font-weight: lighter;
  font-style: italic;
}

/* ---------- Global CSS & main layout elements ---------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  font-size: var(--normal-font-size);
  background-color: var(--light-color-alt);
  color: var(--gray-color);
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
  text-decoration: none;
}

/* container responsible for full page and smooth scroll effects */
.full-page-wiev-container {
  width: 100%;
  height: 100%;
  /* smooth scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* Full screen images display & quasi-page sections */
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: var(--header-height) 2vw 0 2vw;
  scroll-snap-align: center;
  position: relative;
}

/* ---------- Reusable CSS classes ---------- */
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-color);
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  height: 70vh;
  width: auto;
  min-width: var(--min-width);
  padding: 3vh 2vw;
  margin: 3vh 2vw;
  border-radius: 10px;
}

.card-inserted {
  padding: 0;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 8vw;
  height: auto;

  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid transparent;

  background: var(--red-color);
  color: var(--light-color);
  text-decoration: none;
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  transition: all 0.4s ease-out;

  cursor: pointer;
}

.btn:hover {
  color: var(--red-color);
  background-color: var(--white-color);
  border: 1px solid var(--red-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Content inserted from CMS */
.inserted {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* ---------- Section: Responsive Navbar ---------- */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: var(--header-height);
  background: var(--white-color);
  font-size: var(--nav-font-size);
  text-transform: uppercase;
}

.navbar {
  display: grid;
  grid-template-columns: 0.1fr auto 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
  padding: 5px;
}

#navbar-logo {
  max-height: var(--header-height-min);
  width: auto;
  margin-left: 5vw;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  margin: 0px 20px;
  justify-self: end;
}

.nav-links {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: transparent;
  text-decoration: none;
  color: var(--gray-color);
  padding: 0px 5px;
  margin: 10px 10px;
  transition: all 0.4s ease-out;
}

.nav-links:hover {
  border-color: var(--red-color);
}

/* Toggle menu */
.menu-toggle .bar {
  width: 30px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--light-color);
  color: var(--gray-color);
}

/* ---------- Section: Home ---------- */

/* showcase with full page mp4 */
.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white-color);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* Homepage video blur */
.video-container:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30vh;
  z-index: 7;
}

.home-btn-container {
  display: flex;
  flex-direction: row;
}

.home-btn {
  width: 16vw;
  min-width: 190px;
  max-width: 240px;
}

/* ---------- Section: O nas ---------- */
.onas-card {
  background-color: var(--white-color);
}

.onas-card h2 {
  margin: 0;
  padding: 0;
}
#onas-logo {
  max-width: 220px;
  height: auto;
  max-height: 100px;
}

#onas span {
  font-weight: bold;
  text-transform: uppercase;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.owl-dots {
  display: none;
}

.owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
  padding-top: 1vh;
}

.owl-item img {
  height: 100%;
  max-height: 50vh;
  width: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.owl-theme .owl-nav {
  align-self: flex-start;
  height: 13vh;
  margin-top: 0;
}

.car {
  margin: 0;
  padding: 10px;
}

.car:hover {
  color: var(--red-color);
  transform: scale(1.1);
}

/* ---------- Section: Aktualności ---------- */

#aktualnosci a {
  color: var(--grey-color);
  cursor: pointer;
  margin: 2px 0.5vw;
  padding: 1px;
}

#aktualnosci p {
  text-align: center;
}

#aktualnosci a:hover {
  color: var(--red-color-alt);
}

.social-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
/* ---------- Section: Grafik ---------- */

/* ---------- Section: Oferta ---------- */

.cardOferta {
  flex: 1.6;
  flex-direction: column;
  justify-content: center;
  padding: 1vh 1vw;
}

.cardOfertaImg {
  flex: 1;
  padding: 1vw;
}

#oferta p {
  align-self: flex-start;
}

#oferta span {
  font-weight: bold;
  text-transform: uppercase;
}

#oferta a {
  color: var(--gray-color);
}

#oferta a:hover {
  color: var(--red-color);
}

/* ---------- Section: Cennik ---------- */
table,
th,
td {
  text-align: left;
  padding-left: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  height: 35px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: rgba(255, 0, 0, 0.7);
}

td {
  min-height: 30px;
}

.tdc {
  background-color: var(--white-color);
}

#cennik2 p {
  width: 100%;
  text-align: left;
}

/* ---------- Section: Kontakt ---------- */
#kontakt h2 {
  margin-left: 0;
  padding-left: 0;
}
#kontakt a {
  color: var(--gray-color);
}

#kontakt a:hover {
  color: var(--red-color);
}

.kontakt-card {
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: top;
  text-align: left;
}

.kontakt-column {
  margin: 15px 20px;
}

.map-responsive {
  width: 100%;
  height: 100%;
}

.map-responsive iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* ---------- Section: Footer ---------- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: (var(--header-height-half) + 6px);
  background-color: var(--light-color);
  color: var(--gray-color);
  font-size: var(--small-font-size);
  padding-top: 0.5vh;
}

/* scroll to the top button*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  display: flex;
  background-color: var(--light-color-alt);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 0.45rem;
  border-radius: 5px;
  z-index: 100;
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--black-color);
  opacity: 1;
}

.scrollup-icon {
  color: var(--red-color-alt);
  font-size: 1.35rem;
}

.scrollup-icon:hover {
  color: var(--red-color);
}

footer > a {
  color: var(--grey-color);
  cursor: pointer;
  margin: 0 1vw;
  padding: 2px;
}

footer > a:hover {
  color: var(--red-color-alt);
}

/* ---------- Media Queries ---------- */
@media screen and (max-width: 950px) {
  .none950 {
    display: none;
  }

  .nav-menu {
    width: 80%;
    margin: 0px 20px;
    justify-self: center;
  }

  .cardOferta {
    justify-content: space-between;
  }
}

/* Hamburger menu treshold  */
@media screen and (max-width: 700px) {
  .none700 {
    display: none;
  }
  .card {
    min-width: 230px;
  }

  .home-btn-container {
    flex-direction: column;
  }

  /* ---------- Section: Responsive Navbar ---------- */
  .nav-container {
    position: fixed;
    top: 0;
  }

  .navbar {
    width: 100%;
  }

  #navbar-logo {
    margin-left: 3vw;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 100%;
    margin: 0;
    background-color: var(--white-color);
    opacity: 0;
    transition: all 0.5s ease;
    font-size: var(--big-font-size-font-size);
  }

  #mobile-menu {
    position: fixed;
    top: 1vh;
    right: 3vw;
    color: var(--white-color);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
    background-color: var(--gray-color-alt);
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu.active {
    color: var(--gray-color);
    background-color: var(--white-color);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    display: table;
    width: 100%;
    text-align: center;
    border-radius: 0;
    margin: 0;
    padding: 8px;
  }

  .nav-links:hover {
    background-color: var(--red-color);
    color: var(--white-color);
    border-color: transparent;
    transition: all 0.4s ease-out;
  }
}

@media screen and (max-width: 600px) {
  .none600 {
    display: none;
  }

  .kontakt-card {
    padding: 5px;
  }

  .kontakt-column {
    margin: 5px;
  }

  #cennik .card {
    margin: 0;
    height: 100%;
    width: 100%;
  }

  #cennik {
    padding: var(--header-height-min) 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .none500 {
    display: none;
  }
  section {
    flex-direction: column;
  }

  .card {
    height: 40vh;
    width: 90%;
  }

  #grafik {
    margin: 0;
    padding: var(--header-height) 0 0 0;
  }

  #grafik .card {
    width: 100%;
    height: 100%;
  }

  #grafik > .card-inserted {
    min-width: 100%;
    height: 100%;
  }

  .owl-item {
    max-height: 27vh;
    border-radius: 10px;
  }

  .owl-item img {
    height: auto;

    width: auto;
    border-radius: 10px;
  }

  footer {
    max-height: 0;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .none450 {
    display: none;
  }
}

@media screen and (max-width: 374px) {
  .none374 {
    display: none;
  }
}

/* ---------- Vertical media queries ---------- */
@media screen and (max-height: 580px) {
  .none580h {
    display: none;
  }
}

/* ---------- Section: Home ---------- */
/* ---------- Section: O nas ---------- */
/* ---------- Section: Aktualności ---------- */
/* ---------- Section: Grafik ---------- */
/* ---------- Section: Oferta ---------- */
/* ---------- Section: Cennik ---------- */
/* ---------- Section: Kontakt ---------- */
/* ---------- Section: Footer ---------- */

/* Sections backgrounds */
section#home {
  background: url(../img/backgrounds/b0.png) no-repeat center center/ cover;
}

section#aktualnosci {
  background: url(../img/backgrounds/b1.jpg) no-repeat center center/ cover;
}

section#oferta {
  background: url(../img/backgrounds/b2.jpg) no-repeat center center/ cover;
}

section#cennik {
  background: url(../img/backgrounds/b3.jpg) no-repeat center center/ cover;
}

section#cennik2 {
  background: url(../img/backgrounds/b1.jpg) no-repeat center center/ cover;
}

section#onas {
  background: url(../img/backgrounds/b4.jpg) no-repeat center center/ cover;
}

section#grafik {
  background: url(../img/backgrounds/b5.jpg) no-repeat center center/ cover;
}

section#kontakt {
  background: url(../img/backgrounds/b6.jpg) no-repeat center center/ cover;
}
